
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
width : 100%;
height : 100%;
}

body{
    background-color: black;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

@property --rotate{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes --animationBg{
    from{
        --rotate:0deg;
    }
    to{
        --rotate:360deg;
    }
}

.box{
    width: 300px;
    padding-inline:10px ;
    padding-bottom: 10px;
    /* box-shadow: 0 0 50px rgb(255, 0, 123); */
    border-radius: 15px;
   
    display: flex;
    flex-direction: column;
    gap: 10px;

    background: 
    linear-gradient(black) padding-box,
    conic-gradient(from var(--rotate),black,black,black,rgb(255, 0, 123),black) border-box;

     border: 0px solid rgba(255, 255, 255, 0);

     animation: --animationBg 10s;
     animation-iteration-count: infinite;
     animation-timing-function: linear;
     animation-play-state: paused;
     transition: all 0.5s linear;
      color: white;
      box-shadow: 0 0 0 rgb(255, 0, 195);
      text-shadow: 0 0 0px rgb(255, 0, 123);
}

.box:hover{
      animation-play-state: running;
      border: 5px  solid rgba(255, 255, 255, 0);
     color: rgb(255, 0, 123);
      box-shadow: 0 0 50px rgb(255, 0, 195);
      text-shadow: 0 0 10px rgb(255, 0, 123);
}

.box img{
    width: 100%;
    height: 80%;
    object-fit: cover;
}